<!DOCTYPE html>
<html lang="pt-br">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'images/favicon_roxo.ico' %}" type="image/x-icon">
        <title>Nosso aniversário</title>
    </head>
<body>
    <div id="fundo">
        <div id="principal">
            <div id="voltar">
                <a href="{% url 'index' %}">&#60;&#60;</a>  
            </div>
            <table id="links">
                <thead>
                    <tr>
                        <th>Administação</th>
                        <th><a href="{% url 'criar' %}"><img src="{% static 'images/adicionar.png' %}" alt="+"></a></th>
                    </tr>
                </thead>
                {% for foto in fotos %}
                <tbody>
                <tr>
                    <td class="nome"><a href="{% url 'mensagem' foto.id %}">{{foto.titulo}}</a></td>
                    <td class="editar"><a href="{% url 'editar' foto.id %}">Editar</a></td>
                </tr>
                {% endfor %}
                </tbody>    
            </table>
        </div>
    </div>
</body>
</html>