<!DOCTYPE html>
<html lang="pt-br">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Nosso aniversário</title>
</head>
<body>
    
    <div id="extra">
        
        <div id="mensagem">

            <form action="{% url 'editar' id %}" method="post"> {% csrf_token %}

                <input type="text" name="titulo" id="titulo" value="{{ titulo }}">
                <textarea id="texto" name="texto" wrap="soft">{{ texto }}</textarea>

                <input type="submit" value="Editar">
            </form>


            
            <img src="/static/images/{{ foto }}" alt="{{ id }}">/
        </div>
    </div>

    <script src="{% static 'js/back.js' %}"></script>
</body>
</html>