<!DOCTYPE html>
<html lang="pt-br">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Nosso aniversário</title>
</head>
<body>
    
    <div id="extra">
        
        <div id="mensagem">
            
            <div> <h1>{{ titulo }}</h1> <p>{{texto}}</p> </div> 
            <img src="{{ foto }}" alt="{{ id }}">
        </div>
    </div>

    <script src="/static/js/back.js"></script>
</body>
</html>